---
import { cn } from "../../utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h1
  class={cn(
    "font-semibold text-3xl dark:text-white text-black-shade",
    className,
  )}
>
  <slot />
</h1>
